body {
  background-color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
}

.heading,
.subhead,
.para,
ul li {
  text-align: center;
}

img {
  height: auto;
  width: 50vw;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

ul li {
  list-style: none;
}

.heading {
  font-size: 64px;
  margin: 25px;
}

.subhead {
  font-size: 48px;
  margin: 8px;
}

.para {
  font-size: 24px;
  margin: 15px;
}

ul li,
ol li {
  font-size: 24px;
}

a {
  display: block;
  font-size: 32px;
}
